extends ./layout.jade

block title
  title Robert de Forest

block banner
  h1 Welcome, one and all.

block content
  p
    You most likely came here for more information about my decision to 
    a(href="alcohol/index.html") end my relationship with alcoholic beverages.
