<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Todos</title>
  <link rel="stylesheet" href="style/todos.css"/>
  <link rel="stylesheet" href="scripts/ui/1.11.4/jquery-ui.css"/>
</head>

<body>

  <div id="todoapp">

    <ul>
      <li><a href="#todoapp-items">Items</a></li>
      <li><a href="#todoapp-schedules">Schedules</a></li>
      <li><a href="#todoapp-account">Account</a></li>
    </ul>

    <div id="todoapp-items">
      <header>
        <h1>Items</h1>
        <input id="new-todo" type="text" placeholder="What needs to be done?">
      </header>

      <section id="itemList">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
      </section>

      <footer>
        <a id="clear-completed">Clear completed</a>
        <div id="todo-count"></div>
      </footer>
    </div>

    <div id="todoapp-schedules">
      <header>
        <h1>Schedules</h1>
        <input id="new-schedule" type="text" placeholder="Remind how often?">
      </header>

      <section id="scheduleList">
        <ul id="schedule-list"></ul>
      </section>

      <footer>
        <div id="schedule-count"></div>
      </footer>
    </div>

    <div id="todoapp-account">
      <section>
        <label for="text1">Username</label>
        <input type="text" id="username" />
      </section>
      <section>
        <label for="text2">Password</label>
        <input type="text" id="password" />
      </section>
      <section>
        <label for="text3">Confirm Password</label>
        <input type="text" id="confirm-password" />
      </section>
      <a class="button" href="#">Login / Register</a>
    </div>

  </div>

  <script src="scripts/test/vendor/json2.js"></script>
  <script src="scripts/test/vendor/jquery.js"></script>
  <script src="scripts/test/vendor/underscore.js"></script>
  <script src="scripts/backbone.js"></script>
  <script src="scripts/backbone.localStorage.js"></script>
  <script src="scripts/todos.js"></script>
  <script src="scripts/ui/1.11.4/jquery-ui.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- contents %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- contents %>" />
  </script>

  <script type="text/template" id="schedule-template">
    <div class="view">
      <label><%- contents %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- contents %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
