extends ../layout.jade

block title
  title Robert de Forest broke up with alcohol

block banner
  h1 A work in progress

block left-column
  include menu.jade

block right-column
  p
    em 
      | If this tell-all is insufficient for your curiousity, feel free to 
      a(href="mailto:guitar.robot@gmail.com") email me.


