extends ../layout.jade

block title
  title Robert de Forest

block content
    h1 As of July 16th, 2015, Robert de Forest is a non-drinker.

    p.
      Events transpired which brought into stark contrast the differences between my model of reallity and others'. After a particularly dark incident I made the decision to terminate my relationship with alcoholic beverages.

