extends layout.jade

block content
  h2 The Short Version

  h4 I didn't even think you had a problem. What was going on?

  p   I didn't "have a problem" in the sense you see on TV adds for recovery
    | programs. I stopped before I got to that point.

  p   I had been drinking "socially" for years. In classic "how to boil a
    | frog" fasion my consumption gradually increased in frequency and
    | volume. By the week of July 15th, 2015, I was drinking the equivalent of
    | about a liter of wine a day. What I drank through the day or from one
    | day to the next varied across all types and qualities, but it was always
    | a lot.

  p   I had had quite a few arguments with Raine in which we disagreed about
    | the details of shared experiences. While the notion of Raine being wrong
    | about such simple things was inconceivable, I dismissed these
    | disagreements as differences in interpretation and such. I made excuses.

  p   I had also made excuses for my work performance which held up well in my
    | mind and the only negative feedback I had received was balanced by
    | counter-feedback from my manager.

  p   Socially, all my friendships seemed to be going swimingly. My best
    | friend had been upset with me once, but we talked about it later and I
    | thought everything was fine.

  h4 Fine, so what happened?

  p   That afternoon I met a representative for a product we use at work. I
    | arranged the meeting so I could talk about some ideas about how they
    | could improve their product for us. I arranged for us to meet at my
    | favorite bar because it was convenient for both of us and hanging out at
    | the bar had become a daily event for me by then.

  p   However, I got the time wrong. I was early by an hour. I didn't realize
    | this until after I had ordered a pitcher of cider and three glasses. But
    | I figured this was the opposite of a problem. I spent the time going
    | through work email and brainstorming about work projects. By the time
    | the rep showed up I had drunk a third of the pitcher.

  p   But as a long-time heavy drinker, I wasn't really very drunk in the
      usual sense. That came later. We talked about his company's product and
      what sorts of changes I was interested in, and then he started talking
      about work they had been doing and how it could benefit us.

block right-column
  div
    p A sample of some of the many kinds of alcohol I enjoyed:
    ul
      li beers
        ul
          li budget (Corona)
          li good (Miessel Weisse)
      li cider (McMinnamen's Edgefield, Seattle Cider semi-sweet)
      li wine
        li budget (Yellow Tail, Black Box)
        li good (Ani Che)
        li great (on special occasions)
      li whiskey
        ul
          li single-malt
            ul
              li budget single-malt whiskies (McClelland)
              li mid-range single-malt whiskies (Lagavulin)
              li high-end single-malt-whiskies (Tallisker)
          li blended
            ul
              li budget blended whiskies (Jameson, Bank Note)
              li mid-range blended whiskies (Johnnie Walker Black)
              li high-end blended whiskies (Bastille)
      li rum
        ul
          li budget (Sailor Jerry)
          li decent (Sun Liquor)
          li fine (Zya)
      li vodka
        ul
          li budget (Stoli)
          li decent (Crater Lake)
      li gin
        ul
          li budget (Bombay Saphire)
          li decent (Sun Liquor)
          li specialty (Hendricks)
      li tequila (only at bars, never got too into it)
      li mixed drinks
