extends layout.jade

block content
  div
    h2 The Short Version

    ul
      li  My drinking escalated gradually over the course of about 20 years.
      li  On the night of 2015-07-15 all three spheres of my life seemed to be 
        | threatened by things I had said or done under the influence.
      li  At about 2am I was starting to have intense anxiety and was thinking 
        | about suicide.
      li  In 2+ years of therapy I had learned to monitor my thoughts and when
        | I noticed myself thinking these things I checked myself in to the
        | ER.
      li  I was at the hospital for 3 hours, most of which was a conversation
        | with a social worker. I developed a more realistic assessment of my
        | lifestyle and its impact on the things I care about. I understood my
        | options. 
      li  I spent the first half of Thursday mulling and brooding.
      li  I decided to quit drinking. Details of this decisions appear under
        | &nbsp;
        a(href="the-decision.html") How I Decided To Stop
        | .
      li  I talked with Raine about what had happened Wednesday and she helped
        | me work on a detox plan based on drinking carefully metered and
        | decreasing amounts of alcohol over the course of five days to
        | minimize the risks associated with quitting suddenly.
        | &nbsp;
        em See the HAMS article 
          a(href="http://www.hamsnetwork.org/taper/") How To Taper Off Alcohol
          | if you're interested in the process.
      li  Friday I met with my psychiatrist. She prescribed me lorazepam to
        | use for the detox process in lieu of alcohol. This simplified the
        | process dramatically because lorazepam lasts for 3-4 hours and has
        | no intoxicating effect in the doses she prescribed.
      li  I had my last dose of lorazepam the next Monday. As of this writing
        | that was three days ago and I feel fine.

block right-column
  div
    p
      em The first time I wrote this page it failed to qualify for the description "The Short Version."
