extends layout.jade

block content
  div
    h2 How I Started

    h4
      em Did you say you've been drinking for 20 years?

    p   That's right. I did not so much sip an alcoholic beverage before I was
      | 21. My first drink was half of a Bartles and James wine cooler. My
      | girlfriend at the time was 18 and she was eager to try things that
      | older people take for granted. We went to a grocery store and got a
      | four pack of wine coolers, then we rented some porn ("Wet Nurses").

    p   My family has a history of alcoholism and my parents had quit when I
      | was 2. I was told that my mother had a hard time not drinking while
      | she was carrying me and that my dad brought beer into the hospital so
        she could drink as soon as she was done with my delivery. They had
        given me the impression that alcohol was fun but not worth the risks

block right-column
  div
    p
      em 
