/* vim: set filetype=css : */

body {
  font-family: sans-serif;

  position: absolute;
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 20px;
}

div {
  border: solid black 1px;
}
  
.banner {
  background-color: #EEF;
  text-align: center;
}

.menu {
  width: 20%;
  border-top: none;
  display: inline-block;
}

.content {
  width: 55%;
  display: inline-block;
}

.left-column {
  background-color: #EFE;
}

.right-column {
  background-color: #EFE;
}

.postBanner {
  border: none;
  height: 89%;
}

.nonTitle div {
  height: 99%;
}
